amqp==5.3.1
async-timeout==5.0.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.3
billiard==4.2.1
black==24.8.0
bs4==0.0.2
celery==5.4.0
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
distlib==0.3.9
filelock==3.16.1
flake8==7.1.2
identify==2.6.1
idna==3.10
kombu==5.4.2
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pre-commit==3.5.0
prompt_toolkit==3.0.50
pycodestyle==2.12.1
pyflakes==3.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
vine==5.1.0
virtualenv==20.29.3
wcwidth==0.2.13
xmltodict==0.14.2
